# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Environment Variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Uploaded Files (if storing locally)
uploads/

# Database (if using SQLite)
*.db